[submodule "openocd/openocd"]
	path = openocd/openocd
	url = https://git.code.sf.net/p/openocd/code
[submodule "IceStorm/icestorm"]
	path = IceStorm/icestorm
	url = https://github.com/cliffordwolf/icestorm.git
[submodule "IceStorm/arachne-pnr"]
	path = IceStorm/arachne-pnr
	url = https://github.com/cseed/arachne-pnr.git
[submodule "IceStorm/yosys"]
	path = IceStorm/yosys
	url = https://github.com/cliffordwolf/yosys.git
